.detail {
  margin: 0 20px;
}
.container {
  width: 100%;
}
.detail_info {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.detail_content {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: rgb(112, 105, 105);
}
.detail_icon {
  margin-left: 60px;
  font-size: 1.5rem;
}
.channel {
  list-style: none;
  padding: 0;
  display: flex;
  margin-top: 20px;
}
.channel_thumbnail {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-right: 15px;
}

@media screen and (max-width: 48rem) {
  .video_player {
    height: 200px;
  }
  .detail_content {
    flex-direction: column;
    justify-content: initial;
  }
  .detail_icon {
    margin: 0;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 1.1rem;
  }
}
