.video {
  width: 24%;
  height: 400px;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.video:hover {
  transform: scale(1.02);
  background-color: wheat;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.17);
}
.video_img {
  margin-left: 20px;
  width: 90%;
}
.video_thumbnail {
  width: 100%;
  border-radius: 12px;
  transition: all 0.3s ease;
}
.video_container {
  margin-top: -10px;
}
.video_text {
  width: 85%;
  display: flex;
  list-style: none;
  padding: 0;
  padding-left: 30px;
}
.channel_thumbnail {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  margin-right: 15px;
}
.video_title {
  font-weight: 600;
  font-size: 1.05rem;
  line-height: 1.4;
  margin: 0;
}
.video_channelTitle {
  color: lightgray;
  font-size: 0.95rem;
  margin: 0;
  margin-top: 8px;
}
.video_hit {
  margin: 0;
  color: red;
  font-size: 0.9rem;
  margin: 0;
  margin-top: 5px;
}

@media screen and (max-width: 1300px) {
  .video {
    width: 45%;
  }
}

@media screen and (max-width: 48rem) {
  .video {
    width: 100%;
  }
}
