.videos {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 48rem) {
  .videos {
    justify-content: center;
  }
}
