.app {
}
.container {
  display: flex;
  width: 100%;
  align-items: flex-start;
}
.detail {
  flex: 1 1 70%;
}
.content {
  flex: 1 1 30%;
}

.header {
  width: 100%;
}

@media screen and (max-width: 48rem) {
  .container {
    flex-direction: column;
  }
}
